/*selector de etiquetas, modifico el colo de fondo*/
/*body {
	background-color: #00f; /*tipo de comando y el color en hexa, pinto el fondo de color azul
}*/

/*modelo de caja contenedor*/
/*selector de id */
#cabeceraweb { /* header principal, va en el html tambien*/
	background-color: #00f;/*azul*/
}

#navegacionprincipal {/*nav principal*/
	background-color: #f00;/*rojo*/
}

#barralateral {/*aside*/
	background-color: #0f0; /*fosforesente*/
	float: left;
	height: 2945px;/*altura de la barra lateral*/
}

#contenidoprincipal {/*section*/
	background-color: #606;/*purpura*/
	margin-left: 250px; /*margen izq, correr el contenido a izq*/
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#pieprincipal {/*footer*/
	background-color: #ff0;/*amarillo*/
}

/*selector de etiqueta*/
li {
	background-color: #ff0;
	display: inline;/*pasamos de ser un block a inline*/
	/*en castellano pongo los items uno al lado de otro*/
}
